
<div class="container-md">
     <div class="card">
          <div class="card-header text-bold">
               <span class="text-align-left">{{filteredBlogData.blog_title}}</span> 
               <span class="text-align-right">Posted by {{filteredBlogData.user.first_name}} {{filteredBlogData.user.last_name}} on {{ formatDate filteredBlogData.createdAt }}</span>
          </div>
          <div class="card-body">
               <p class="card-text">{{filteredBlogData.blog_post}}</p>    
          </div>
     </div>
</div>
