
<div class="container-md">
     <div class="card">
          <div class="card-header text-bold">
               <span class="text-align-left">{{filteredBlogData.blog_title}}</span> 
               <span class="text-align-right">Posted by {{filteredBlogData.user.first_name}} {{filteredBlogData.user.last_name}} on {{ formatDate filteredBlogData.createdAt }}</span>
          </div>
          <div class="card-body">
               <p class="card-text">{{filteredBlogData.blog_post}}</p>    
          </div>
          <hr/>
          {{#each filteredBlogData.blog_comments as |comment|}}
          <div class="card-body">
               <span class="text-align-left text-bold">{{comment.user.first_name}} commented on {{formatDate comment.createdAt}}: </span> 
               <p class="card-text">{{comment.comment_post}}</p>
          </div>
          {{/each}}
     </div>
</div>
