

<div class="container-sm">
     <div class="row align-items-start">
          <div class="col-4 text-bold text-align-left">
               Hello {{sessionUserName}}, 
          </div>
          <div class="col-4">
          </div>
          <div class="col-4 text-align-right">
               <button type="button" class="btn btn-primary text-align-right text-bold" onclick="window.location.href='/blog'">Click here to create a Post</button>
          </div>
     </div>
</div>
<br/><br/>
{{#each  filteredUserBlogs as |blog|}}
<div class="container-sm">
     <div class="card box-border">
          <h5 class="card-header text-bold"> 
               <span class="text-align-left">{{{blog.blog_title}}}</span> 
               <span class="text-align-right">Posted by {{{blog.user.first_name}}} {{{blog.user.last_name}}} on {{ formatDate blog.createdAt }}</span>
          </h5>
          <div class="card-body">
               <p class="card-text text-align-left">{{{blog.blog_post}}}</p>
          </div>
          <div class="card-body text-align-left">
               <span class="material-icons id" id={{{blog.blog_id}}}>
                    <i class="material-icons edit" style="color:#882CDF;">edit</i>
                    <i class="material-icons comment" style="color:#882CDF;">comment</i>
                    <button type="button" class="dashdeletebtn"><i class="material-icons" style="color:#882CDF;">delete</i></button>
               </span>
          </div> 
     </div>
</div>
<br/>
{{/each}}



